In [1]:
import camelot
import tabula
import pandas as pd
import numpy as np

Hier lese ich alle Seiten des PDF mit dem Flavor "Stream aus, weil der besser funktioniert hat:

In [2]:
pfad = "Lieferung_SEB-Schulergebnisse_2/Schulberichte/AlleSchulen_2006.pdf"
umfrage = camelot.read_pdf(pfad, flavor='stream', pages='all')

In [3]:
umfrage

Wir schauen uns mal eine einzelne Tabelle an (relevant sind alle mit geraden Zahlen: 0,2,4 etc.)

In [4]:
df = umfrage[0].df

In [5]:
df.head(21)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,,,,,,Anteil der positiven,,,,,,,,,,,,,,
1,,,,,,,,,,,,,,Beurteilung,,,,,,
2,Büelrain,,,,,Bewertungen (%),,,,,,,,,,,,,,
3,,,,,diese,,,,,negativ ←→ positiv,,,,,,negativ ←→ positiv,,,,
4,,,Anzahl,Antworten,Gruppe,alle,Abweichung,,,,absolute Anzahl,,,,,,Prozent,,,
5,Frage (Nr.),,,,2006 2006,,zu allen,,1,2,3,4,5,6,1,2,3,4,5,6
6,(6),Zufriedenheit mit der Mittelschule,,65,87.7,90.2,-2.5,,0,1,7,12,28,17,0,2,11,18,43,26
7,,in fachlicher Hinsicht,,62,75.8,74.0,+1.8,,0,6,9,20,22,5,0,10,15,32,35,8
8,Vorbereitung,,,,,,,,,,,,,,,,,,,
9,,in persönlichkeitsbildender Hinsicht,,62,77.4,74.9,+2.5,,2,5,7,25,19,4,3,8,11,40,31,6
10,Studium (5),,,,,,,,,,,,,,,,,,,
11,,insgesamt,,62,79.0,80.5,-1.4,,0,3,10,20,26,3,0,5,16,32,42,5
12,,neues Wissen zu erwerben.,,65,98.5,96.4,+2.0,,0,0,1,7,28,29,0,0,2,11,43,45
13,,selbständig Probleme zu lösen.,,65,78.5,83.0,-4.5,,0,6,8,18,28,5,0,9,12,28,43,8
14,,eigenständig zu urteilen.,,65,70.8,82.5,-11.7,–,2,6,11,14,22,10,3,9,17,22,34,15
15,Persönliche \nEntwicklung (1)\ngelernt . . .,zielorientiert zu handeln.,,65,72.3,80.6,-8.3,,2,8,8,17,21,9,3,12,12,26,32,14
16,,in Gruppen zu arbeiten.,,65,76.9,76.2,+0.7,,1,2,12,23,25,2,2,3,18,35,38,3
17,,mit Konflikten umzugehen.,,65,61.5,61.1,+0.4,,1,8,16,24,14,2,2,12,25,37,22,3
18,,mich in der heutigen Welt zurechtzufinden.,,65,63.1,60.0,+3.0,,4,6,14,24,13,4,6,9,22,37,20,6
19,,soziale Verantwortung zu übernehmen.,,65,60.0,64.4,-4.4,,2,6,18,20,15,4,3,9,28,31,23,6
20,,Deutsch,,59,79.7,87.6,-8.0,,0,1,11,21,19,7,0,2,19,36,32,12

In [6]:
df.shape

(83, 20)

df.columns.values

#### Finden der relevanten Felder
1. Hier holen wir den Schulnamen her:

In [7]:
Schulname = df.loc[2,0]
Schulname

'Büelrain'

2. Hier sind die Noten zum ersten Wert (Zufriedenheit), von denen wir für im 2006er-File manuell den Schnitt generieren müssen:

In [8]:
Zufriedenheit1 = df.loc[6,8] # Note 1 ist loc[6,8], Note 6 ist loc[6,13]
Zufriedenheit1

'0'

In [9]:
#Die Anzahl Antworten finden wir hier:
Antworten = df.loc[6,3]

Dummerweise merken wir jetzt, dass die entsprechenden Zahlen alle als Strings erfasst sind.

In [10]:
df.dtypes

0     object
1     object
2     object
3     object
4     object
5     object
6     object
7     object
8     object
9     object
10    object
11    object
12    object
13    object
14    object
15    object
16    object
17    object
18    object
19    object
dtype: object

 Deshalb werden wir:
1. Den Kopf wegschneiden, der sowiso keine Zahlen enthält.
(**ACHTUNG** Diesen Schritt dürfen wir erst machen, nachdem wir den Schulnamen rausgelsen haben, der fehlt sonst nachher. **Noch besser**: Wir generieren ein neues kurz-Datarame, mit dem wir dann arbeiten.
2. wir müssen die für uns wichtigen Spalten 3 und 8 bis 13 in floats umbauen:

In [11]:
#Schitt 1:
df_kurz = df.drop([0,1,2,3,4,5])
df_kurz.head(3)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
6,(6),Zufriedenheit mit der Mittelschule,,65,87.7,90.2,-2.5,,0,1,7,12,28,17,0,2,11,18,43,26
7,,in fachlicher Hinsicht,,62,75.8,74.0,+1.8,,0,6,9,20,22,5,0,10,15,32,35,8
8,Vorbereitung,,,,,,,,,,,,,,,,,,,

In [12]:
df_kurz[3].value_counts()

65    22
0     15
       4
1      4
56     4
57     3
59     3
62     3
2      2
11     2
42     2
3      2
54     1
14     1
15     1
30     1
51     1
63     1
12     1
4      1
5      1
64     1
9      1
Name: 3, dtype: int64

In [13]:
#Das Problem sind offensichtlich die Leerschläge, deshalb ersetzen wir diese mit NaN (dafür numpy importieren!)
df_kurz = df_kurz.replace("", np.nan)

In [14]:
# Jetzt können wir die Spalten in Floats umwandeln und prüfen die Typen:
Spaltenliste = [3,8,9,10,11,12,13]
df_kurz[Spaltenliste] = df_kurz[Spaltenliste].astype(float)
df_kurz.dtypes

0      object
1      object
2      object
3     float64
4      object
5      object
6      object
7      object
8     float64
9     float64
10    float64
11    float64
12    float64
13    float64
14     object
15     object
16     object
17     object
18     object
19     object
dtype: object

Jetzt suchen wir die Zeilen, in denen im df_kurz die uns interssierenden Werte versteckt sind.
(Von denen wir dann die Notenschnitte berechnen wollen)
Es sind die Zeilen:
6 = Zufriedenheit
8 = Vorbereitung_Fach
9 = Vorbereitung_Pers
13 = Problemloesung
14 = Urteilskraft
16 = Gruppenarbeit
17 = Konfliktfähigkeit

In [15]:
#hier suchen wir gezielt nach dem Ausschnitt, deruns interessiert:
x= range(11,20) #Die range der Zeilen, die wir anschauen wollen
df_kurz.loc[x]

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
11,NaN,insgesamt,NaN,62.0,79.0,80.5,-1.4,NaN,0.0,3.0,10.0,20.0,26.0,3.0,0,5,16,32,42,5
12,NaN,neues Wissen zu erwerben.,NaN,65.0,98.5,96.4,+2.0,NaN,0.0,0.0,1.0,7.0,28.0,29.0,0,0,2,11,43,45
13,NaN,selbständig Probleme zu lösen.,NaN,65.0,78.5,83.0,-4.5,NaN,0.0,6.0,8.0,18.0,28.0,5.0,0,9,12,28,43,8
14,NaN,eigenständig zu urteilen.,NaN,65.0,70.8,82.5,-11.7,–,2.0,6.0,11.0,14.0,22.0,10.0,3,9,17,22,34,15
15,Persönliche \nEntwicklung (1)\ngelernt . . .,zielorientiert zu handeln.,NaN,65.0,72.3,80.6,-8.3,NaN,2.0,8.0,8.0,17.0,21.0,9.0,3,12,12,26,32,14
16,NaN,in Gruppen zu arbeiten.,NaN,65.0,76.9,76.2,+0.7,NaN,1.0,2.0,12.0,23.0,25.0,2.0,2,3,18,35,38,3
17,NaN,mit Konflikten umzugehen.,NaN,65.0,61.5,61.1,+0.4,NaN,1.0,8.0,16.0,24.0,14.0,2.0,2,12,25,37,22,3
18,NaN,mich in der heutigen Welt zurechtzufinden.,NaN,65.0,63.1,60.0,+3.0,NaN,4.0,6.0,14.0,24.0,13.0,4.0,6,9,22,37,20,6
19,NaN,soziale Verantwortung zu übernehmen.,NaN,65.0,60.0,64.4,-4.4,NaN,2.0,6.0,18.0,20.0,15.0,4.0,3,9,28,31,23,6

In [16]:
#Nun testen wir mal, ob wir für einen Wert den den Schnitt berechnen
Notensumme = (df_kurz.loc[6,8]*1) + (df_kurz.loc[6,9]*2) + (df_kurz.loc[6,10]*3) + (df_kurz.loc[6,11]*4) + (df_kurz.loc[6,12]*5) + (df_kurz.loc[6,13]*6)
Antworten = df_kurz.loc[6,3]
Notenschnitt = Notensumme / Antworten
Notenschnitt
# Bingo!

4.815384615384615

Jetzt sollten wir die Schnitte für all jene Werte berechnen können, die uns interessieren, und diese jeweils in einer neuen Spalte im Ursprungs-Dataframe(df) abspeichern:

Wir vereinfachen das ganze etwas, indem wir bei einse Spalt Summe machen, in der alle multiplizierten werte summiert sind. Also:

In [75]:
#Die Spalten mit den Noten 1 bis 6 sind wie gesagt die Spalten 8 bis 13:
df_kurz["Summe"] = df_kurz[8] + df_kurz[9].multiply(2) + df_kurz[10].multiply(3) + df_kurz[11].multiply(4) + df_kurz[12].multiply(5) + df_kurz[13].multiply(6)

# und diesen Wert teilen wir nun durch die Anzahl antworten (Column 3) und machen daraus den Notenschnitt:

df_kurz["Notenschnitt"] = (df_kurz["Summe"] / df_kurz[3]).round(1) #gerundet auf eine Kommastelle

In [76]:
#df_kurz = df_kurz.drop(columns = "Summe")
df_kurz

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,Summe,Notenschnitt
6,(6),Zufriedenheit mit der Mittelschule,NaN,65.0,87.7,90.2,-2.5,NaN,0.0,1.0,...,28.0,17.0,0,2,11,18,43,26,313.0,4.8
7,NaN,in fachlicher Hinsicht,NaN,62.0,75.8,74.0,+1.8,NaN,0.0,6.0,...,22.0,5.0,0,10,15,32,35,8,259.0,4.2
8,Vorbereitung,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,in persönlichkeitsbildender Hinsicht,NaN,62.0,77.4,74.9,+2.5,NaN,2.0,5.0,...,19.0,4.0,3,8,11,40,31,6,252.0,4.1
10,Studium (5),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,NaN,* wurde bei Problemen von der Schule oft allei...,NaN,65.0,89.2,78.4,+10.9,+,0.0,0.0,...,33.0,7.0,0,0,11,28,51,11,300.0,4.6
79,NaN,* Differenzen mit Lehrpersonen belasteten mich...,NaN,64.0,81.3,79.5,+1.8,NaN,0.0,2.0,...,24.0,15.0,0,3,16,20,38,23,296.0,4.6
80,NaN,* Absenzen waren ein grosses Konfliktthema,NaN,65.0,73.8,81.7,-7.9,NaN,4.0,7.0,...,15.0,24.0,6,11,9,14,23,37,291.0,4.5
81,NaN,NaN,"* Frage negativ gestellt, Skala gekehrt: posi...",NaN,NaN,NaN,NaN,Vorzeichen bedeutet signifikante Abweichung di...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,NaN,Vergleich der Gruppe anhand der Themenbereiche,NaN,NaN,NaN,Mehrjahresvergleich 1998 - 2006 bei identische...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Was  haben wir bis jetzt?
Wir haben jetzt alle gesuchten Daten für eine Schule
- diese können wir nun direkt ansteuern und uns aus den Werten ein Mini-Dict zusammensetzen
- Dieses wiederum können wir in einen Loop einfügen und daraus eine Liste machen
- diese bauen wir dan zu unserem neuen Dataframe 2006 zusammen
- und dieses exportieren wir zu guter letzt als CSV-Doc

Das Problem unsereres Loops: Wir wollen ja nur jeden zweite Table im Camelot-Import (umfrage) ansteuern. Das geht evtl so:

for i in range(0, len(a), 2):

In [81]:
for table in range(0, len(umfrage), 2):
    df_schule = umfrage[table].df
    schulname = df_schule.loc[2,0]
    print(schulname)

Büelrain
Enge
Freudenberg
Glattal
Hohe Promenade

Im Lee


Liceo Artistico
Limmattal
Oerlikon
Rämibühl LG
Rämibühl MNG

Rychenberg



Zürcher Oberland
Zürcher Unterland

Ooops, manche der 21 Schulen haben wirnicht erwischt! Was ist a los? betrifft zum Beispiel Tabele Nummer 10 > prüfen:

In [82]:
df_test = umfrage[10].df

In [86]:
df_test.head(10)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,,,,,,,,,,,,,,Beurteilung,,,,,,
1,Hottingen,,,,,Bewertungen (%),,,,,,,,,,,,,,
2,,,,,diese,,,,,negativ ←→ positiv,,,,,,negativ ←→ positiv,,,,
3,,,Anzahl,Antworten,Gruppe,alle,Abweichung,,,,absolute Anzahl,,,,,,Prozent,,,
4,Frage (Nr.),,,,2006 2006,,zu allen,,1,2,3,4,5,6,1,2,3,4,5,6
5,(6),Zufriedenheit mit der Mittelschule,,39,74.4,90.2,-15.8,–,2,1,7,15,11,3,5,3,18,38,28,8
6,,in fachlicher Hinsicht,,38,60.5,74.0,-13.5,,5,1,9,17,5,1,13,3,24,45,13,3
7,Vorbereitung,,,,,,,,,,,,,,,,,,,
8,,in persönlichkeitsbildender Hinsicht,,38,63.2,74.9,-11.7,,1,4,9,16,7,1,3,11,24,42,18,3
9,Studium (5),,,,,,,,,,,,,,,,,,,

Erkenntnis: Bei diesen Tabellen fehl eine Zeile, die müssen wir also in unserem Loop überall dort einbauen

In [ ]:
df_test = pd.concat(df_test, ignore_index=True)
print(df_repeated)